[Hook Scripts]
git_cl_presubmit = presubmit_support.py $(if [[ "${PRESUBMIT_COMMIT}" = pre-submit ]]; then echo --commit; fi)

[Hook Overrides]
cros_license_check: true
# The only Golang code here is from protoc.
gofmt_check: false

[Hook Overrides Options]
cros_license_check: --exclude_regex=recipes/recipes\.py$
