[Hook Scripts]
git_cl_presubmit = presubmit_support.py $(if [[ "${PRESUBMIT_COMMIT}" = pre-submit ]]; then echo --commit; fi)

[Hook Overrides]
# The only Golang code here is from protoc.
gofmt_check: false
